.html ,body{
    margin: 0;
    padding: 0;
    background-color: rgb(67, 75, 85);
}
.adv-bar{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
}
.adv-bar img{
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;

}
.navbar{
   
    display: flex;
    align-items: center;
    max-width:100%;
    height: 50px;
   padding: 0px 15px;
   margin-bottom: -15px;

}


.search-box{
    display: flex;
    justify-content: flex-start;
    background: #57a5ff;
    padding: 5px 20px;
    border-radius: 5px;
    width: 550px;
    height: 20px;
    margin: 0px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200pxf;
}
.search-box input::placeholder{
    color: #5f5959c4;
}
.navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    margin-left: 100px;
}
.navbar-left img{
    width: 100px;
    height: auto;
}
.navbar-right{
    display: flex;
    align-items: center;
    padding: 25px;
    margin-left: auto;
    margin-right: 100px;
}
.navbar-right img{
    width: 35px;
    height: 35px;
}
.nav-divider {
    width: 1px;
    height: 24px;
    background-color: #b0b0b0;
    margin: 0 16px;
}
.sticky-navbar{
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content:flex-start;
    border-bottom: 1px solid #3f2d2d94;
}
.sticky-navbar ul{
    display: flex;
    gap: 25px;
    list-style: none;
<<<<<<< HEAD
    position: relative;
    left: 100px;r
=======
    margin-left: 130px;
    padding: 12px 20px;
>>>>>>> devshervin
}
.sticky-navbar a{
    text-decoration: none;
    color: #339fa3;
    font-weight: 500;
    font-size: 18px;
    
}
#select-city{
    margin-top: 24px;
    margin-left: auto;
    margin-right: 140px;
    border-radius: 15px;
    background-color: rgb(255, 188, 112);
    color: rgb(255, 68, 0);
}



